# Environment
.env
.env.*
nesh/ai/config.local.php
# Dependencies
/vendor/
/node_modules/
# Storage
/storage/
/docs/
# /dyscover/assets/users/
# Logs
*.log
logs/
# Archives
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
# Cache
.cache/
tmp/
temp/
# IDE
.vscode/
.idea/
# OS
.DS_Store
Thumbs.db
desktop.ini
# PHPUnit
.phpunit.result.cache
# Xdebug
xdebug.log
TODO.md