@media only screen and (max-width: 600px) {
    .actions {
        margin: 10px;
    }
    .content {
        margin: 0;
        padding: 20px;
        max-height: min(65vh, calc(100dvh - 12rem));
    }
    .title {
        font-size: 1.5em;
    }
    .instruments {
        flex-wrap: wrap;
        overflow-x: auto;
        width: 100%;
    }
    .instruments .btn i {
        font-size: 16px;
    }
    .list {
        width: 100%;
        font-size: 13px;
    }
    .heading {
        font-size: 1.5em;
    }
    .sub-heading {
        font-size: 1.2em;
    }
    .paragraph,
    .number-list li,
    .point-list li {
        font-size: 15px;
    }
    .caption {
        font-size: 0.85em;
    }
    .percentage {
        width: 100px;
        height: 10px;
    }
    .percentage::after {
        font-size: 12px;
        right: -35px;
    }
    .legend {
        margin: 0.3em;
    }
    .legend-box {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
    .legend-text {
        font-size: 12px;
    }
    .table {
        background: var(--primary-gradient);
    }
}
