RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^article/[^/]+/?$ router.php [L,QSA]
RewriteRule ^user/[^/]+/?$ router.php [L,QSA]
RewriteRule ^explore/[^/]+/?$ router.php [L,QSA]
RewriteRule ^ router.php [L,QSA]