DirectoryIndex index.php
RewriteEngine On

RewriteRule ^database(?:/.*)?$ - [F,L,NC]
RewriteRule ^storage(?:/.*)?$ - [F,L,NC]


RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
RewriteRule ^ index.php [L,QSA]
